<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Crear curso')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="page-header">Crear curso</h2>
        <form class="form-horizontal" method="post" data-th-object="${curso}" data-th-action="@{/curso/agregar}">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label class="control-label" for="nivel">Nivel:</label>
                    <select class="form-control" id="nivel" name="nivel" data-th-field="*{nivel}">
                        <option data-th-each="nivel : ${T (ug.monografico32.model.Nivel).values()}"
                                data-th-value="${nivel}" data-th-text="${nivel}">Niveles</option>
                        <option value="" data-th-remove="all">Inicial</option>
                        <option value="" data-th-remove="all">Basica</option>
                        <option value="" data-th-remove="all">Media</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="grado">Grado:</label>
                    <select class="form-control" name="grado" id="grado" data-th-field="*{grado}">
                        <option data-th-each="grado : ${T (ug.monografico32.model.Grado).values()}"
                                data-th-value="${grado}" data-th-text="${grado.getLiteral()}">1</option>
                        <option value="" data-th-remove="all">2</option>
                        <option value="" data-th-remove="all">3</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="seccion">Seccion: </label>
                    <input class="form-control" id="seccion" type="text" name="seccion"
                           data-th-field="*{seccion}" minlength="1" maxlength="5"
                           data-th-errorclass="f-error"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="periodo">Periodo:</label>
                    <select class="form-control" id="periodo" name="periodo"
                            data-th-errorclass="f-error" data-th-field="*{periodo}">
                        <option data-th-each="periodo : ${periodos}"
                        data-th-value="${periodo.id}"
                        data-th-text="|Periodo ${periodo.fechaInicio} hasta ${periodo.fechaFinal}|">Periodo 1</option>
                        <option value="0" data-th-remove="all">Periodo 2</option>
                        <option value="0" data-th-remove="all">Periodo 3</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="docenteEncargado">Docente encargado:</label>
                    <select class="form-control" id="docenteEncargado" 
                            name="docenteEncargado" data-th-errorclass="f-error"
                            data-th-field="*{docenteEncargado}">
                        <option data-th-each="docente : ${docentes}"
                                data-th-value="${docente.id}" data-th-text="|${docente.nombres} ${docente.apellidos}|">Profesor 1</option>
                        <option value="0" data-th-remove="all">Profesor 2</option>
                        <option value="0" data-th-remove="all">Profesor 3</option>
                    </select>
                </div>
                <div data-th-if="${#fields.hasAnyErrors()}" class="has-error well well-sm">
                    <p data-th-each="err : ${#fields.detailedErrors()}"  class="help-block">
                        <strong data-th-text="${err.global} ? '*' : ${err.fieldName}"></strong>
                        <strong data-th-text="${err.message}"></strong>
                    </p>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Crear"/>
                </div>
            </div>
        </form>
    </div>
    <!--TODO: Add dynamic behavior on change of the nivel option-->
</body>
</html>