<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Agregar estudiante')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h2 class="page-header">Seleccione estudiante</h2>
        <div class="row">
            <p class="pull-left">
                <strong>Periodo: </strong>
                <span data-th-text="|${curso.periodo.fechaInicio} hasta ${curso.periodo.fechaFinal}|">10/10/10 hasta 20/20/20</span>
                <br/>
                <strong>Curso:</strong>
                <a data-th-text="${curso.getGradoSeccion()}" data-th-href="@{/curso/{id} (id=${curso.id})}"></a>
            </p>
        </div>

        <div class="row">
            <form class="form-inline" method="get" data-th-object="${estudiante}" data-th-action="@{/curso/{curso}/estudiantes/agregar (curso=${curso.id})}">
                <fieldset class="well well-sm">
                    <legend>Buscar estudiante</legend>

                    <div class="form-group">
                        <label class="control-label" for="apellidos">Apellidos: </label>
                        <input class="form-control" id="apellidos" name="apellidos" data-th-field="*{apellidos}"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="nombres">Nombre: </label>
                        <input class="form-control" id="nombres" name="nombres" data-th-field="*{nombres}"/>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-info" type="submit" value="Buscar"/>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="row">
            <div data-th-switch="${cursoAgregado}">
                <div data-th-case="true" class="bg-success">
                    <p class="text-center">
                        <strong>Estudiante agregado exitosamente</strong>
                    </p>
                </div>
                <div data-th-case="false" class="bg-danger">
                    <p class="text-center">
                        <strong>Estudiante no fue agregado</strong>
                    </p>
                </div>
            </div>

            <div class="">
                <table class="table">
                    <caption class="text-center">Estudiantes</caption>
                    <thead>
                    <tr>
                        <th>Apellidos</th>
                        <th>Nombre</th>
                        <th> Detalle </th>
                        <th> - </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-th-each="estudiante : ${estudiantes.getContent()}">
                        <td data-th-text="${estudiante.apellidos}">Perez</td>
                        <td data-th-text="${estudiante.nombres}">Juan</td>
                        <td> <a target="_blank" data-th-href="@{/estudiante/{id}(id=${estudiante.id})}">Ver estudiante</a></td>
                        <td>
                            <form method="post" data-th-action="@{/curso/{curso}/estudiantes/agregar(curso=${curso.id})}">
                                <!--<input type="hidden" name="curso" data-th-value="${curso.id}"/>-->
                                <input type="hidden" name="estudianteId" data-th-value="${estudiante.id}"/>
                                <input type="submit" class="btn btn-primary" value="Agregar"/>
                            </form>
                        </td>
                    </tr>
                    <tr data-th-remove="all">
                        <td>Santana</td>
                        <td>Emilio</td>
                        <td>  <a>Ver estudiante</a></td>
                        <td> <button class="btn btn-primary">Agregar</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="pager" class="row">
            <div class="col-sm-2 col-sm-offset-4">

                <div id="prev-pager" class="pull-left" data-th-if="${estudiantes.hasPrevious()}" data-th-object="${estudiantes.previousPageable()}">
                    <a href="#" data-th-href="@{/curso/{curso}/estudiantes/agregar (nombres=${param.nombres}, apellidos=${param.apellidos},curso=${curso.id} ,page=*{getPageNumber()}, size=*{getPageSize()} )}">
                        <span data-th-text="*{getPageNumber()}+1">1</span>
                        <span class="glyphicon glyphicon-menu-left"></span><br/>
                        Anterior
                    </a>
                </div>

                <div id="next-pager" class="pull-right" data-th-if="${estudiantes.hasNext()}" data-th-object="${estudiantes.nextPageable()}">
                    <a href="#" data-th-href="@{/curso/{curso}/estudiantes/agregar (nombres=${param.nombres}, apellidos=${param.apellidos},curso=${curso.id} ,page=*{getPageNumber()}, size=*{getPageSize()} )}">
                        <span class="pull-right" data-th-text="*{getPageNumber()}+1">2</span>
                        <span class="glyphicon glyphicon-menu-right pull-right"></span><br/>
                        Siguiente
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>