<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Detalle del curso')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h4 class="page-header" data-th-text="|Nivel: ${curso.nivel}|">Nivel: Inicial</h4>
        <span class="h2" data-th-text="${curso.grado.literal}">Kinder </span><span class="h2"><small class="small" data-th-text="| Seccion: ${curso.seccion}|">Seccion: a</small></span>
        <p class="pull-right">
            <b>Periodo desde:</b><br/>
            <span data-th-text="${curso.periodo.fechaInicio}">01/01/2017</span>
            <span>hasta</span>
            <span data-th-text="${curso.periodo.fechaFinal}">10/10/2017</span>
        </p>
        <p>
            <b>Docente encargado:</b>
            <span data-th-text="${curso.docenteEncargado.getNombreCompleto()}">Juan Cruzeta</span>
        </p>
        <p sec:authorize="hasAuthority('ADMINISTRADOR') OR  hasAuthority('DOCENTE')">
            <a href="#" target="_blank"
               data-th-href="@{/curso/{id}/estudiantes(id=${curso.id})}">Ver estudiantes inscritos</a>
        </p>
        <p sec:authorize="hasAuthority('ESTUDIANTE')">
            <a href="#" data-th-href="@{/clase/calificaciones/{curso} (curso=${curso.id})}">Reporte de calificaciones</a>
        </p>
        <a data-th-href="@{/curso/{id}/clases (id=${curso.id})}">Sumario de clases</a>
    </div>
    
    <div class="container" >
        <hr/>
        <div data-th-switch="${#sets.isEmpty(curso.horario.clases)}">
            <div data-th-case="true">
                <strong data-th-text="#{noclases}">No class</strong><br/>
            </div>
            <div class="row" data-th-case="false" >
                <div id="horario">
                    <div class="col-sm-2" style="border-left-style: solid; border-left-width: 1px;" data-th-each="entry : ${sessionsByDay}">
                        <h4 class="text-capitalize text-center" data-th-text="${entry.key}">Dia</h4>
                        <div style="border-top-style: solid; border-top-width: 1px;" data-th-each="sesion : ${entry.value}">
                            <span data-th-text="${#dates.format(sesion.horaInicio,'hh:mm a')}"></span> -
                            <span data-th-text="${#dates.format(sesion.horaFinal,'hh:mm a')}"></span><br/>
                            <span data-th-text="${sesion.clase.asignatura.nombre}"></span><br/>
                            <a data-th-text="${sesion.clase.asignatura.clave}"
                                data-th-href="@{/clase/{id}(id=${sesion.clase.id})}"></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" sec:authorize="hasAuthority('ADMINISTRADOR')">
            <a href="#" target="_blank" data-th-href="@{/horario/agregar(curso=${curso.id})}">Agregar clases</a>
        </div>
    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>