<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Detalle del curso')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h4 class="page-header" data-th-text="|Nivel: ${curso.nivel}|">Nivel: Inicial</h4>
        <span class="h2" data-th-text="${curso.grado.literal}">Kinder</span><span class="h2"><small class="small" data-th-text="| Seccion: ${curso.seccion}|">Seccion: a</small></span>
        <p class="pull-right">
            <b>Periodo desde:</b><br/>
            <span data-th-text="${curso.fechaInicio}">01/01/2017</span>
            <span>hasta</span>
            <span data-th-text="${curso.fechaFinal}">10/10/2017</span>
        </p>
        <p>
            <b>Docente encargado:</b>
            <span data-th-text="${curso.docenteEncargado.getNombreCompleto()}">Juan Cruzeta</span>
        </p>
        <p>
            <a href="#" target="_blank"
               data-th-href="@{{id}/estudiantes(id=${curso.id})}">Ver estudiantes inscritos</a>
        </p>
    </div>
    <div class="container" >
        <div data-th-switch="${#sets.isEmpty(curso.clases)}">
            <div data-th-case="true">
                <strong data-th-text="#{noclases}">No class</strong><br/>
            </div>
            <div data-th-case="false">FALSE</div>
        </div>
        <a href="#" data-th-href="@{{id}/clase(id=${curso.id})}">Agregar clases</a>
    </div>
</body>
</html>