<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Detalle del curso')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" id="lista-estudiantes">
        <h3 class="page-header" 
            data-th-text="|Lista de estudiantes del curso ${curso.grado} ${curso.seccion}|">Lista de estudiantes</h3>
        <div class="well well-sm" data-th-each="estudiante : ${cuso.estudiantes}">
            
        </div>
    </div>
</body>
</html>