<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Estudiantes')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container" id="lista-estudiantes">
        <h3 class="page-header" 
            data-th-text="|Lista de estudiantes del curso ${curso.grado} ${curso.seccion}|">Lista de estudiantes del curso 3ro B </h3>
        <div>
            <p class="pull-left">
                <strong>Periodo: </strong>
                <span data-th-text="|${curso.periodo.fechaInicio} hasta ${curso.periodo.fechaFinal}|">10/10/10 hasta 20/20/20</span>
            </p>
            <div sec:authorize="hasAuthority('ADMINISTRADOR')">
                <a data-th-href="@{/curso/{curso}/estudiantes/agregar(curso=${curso.id})}" class="pull-right">Agregar estudiantes</a>
            </div>

        </div>
        <span data-th-text="${param.wasRemoved}"></span>
        <div data-th-if="${wasRemoved} == true" class="bg-success">
            <p class="text-center">
                <strong>Estudiante elmininado exitosamente</strong>
            </p>
        </div>
        <div class="well well-lg" style="clear: both">
            <table class="table">
                <caption class="text-center">Estudiantes en lista</caption>
                <thead>
                    <tr>
                        <th>Apellidos</th>
                        <th>Nombre</th>
                        <th> - </th>
                        <th> - </th>
                        <th sec:authorize="hasAuthority('ADMINISTRADOR')"> - </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="estudiante : ${curso.estudiantes}" data-th-unless="${curso.estudiantes.isEmpty()}">
                        <td data-th-text="${estudiante.apellidos}">Perez</td>
                        <td data-th-text="${estudiante.nombres}">Juan</td>
                        <td> <a target="_blank" data-th-href="@{/estudiante/{id}(id=${estudiante.id})}">Ver estudiante</a></td>
                        <td> <a target="_blank" data-th-href="@{/clase/calificaciones/{curso} (curso=${curso.id}, estudianteId=${estudiante.id})}">Reporte de calificaciones</a></td>
                        <td sec:authorize="hasAuthority('ADMINISTRADOR')">
                            <form method="post" data-th-action="@{/curso/{cursoId}/estudiantes/eliminar (cursoId=${curso.id})}">
                                <input type="hidden" name="estudianteId" data-th-value="${estudiante.id}"/>
                                <input type="submit" class="btn btn-primary" value="Eliminar"/>
                            </form>
                        </td>
                    </tr>
                    <tr data-th-if="${curso.estudiantes.isEmpty()}">
                        <th class="text-center" colspan="3">No existen estudiantes inscritos</th>
                    </tr>
                    <tr data-th-remove="all">
                        <td>Santana</td>
                        <td>Emilio</td>
                        <td>  <a>Ver estudiante</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>