body {
    background-image: url("../img/concrete_seamless.png");
    background-repeat: repeat;
}

#main-menu{
    /*background-image: url("../img/green_dust_scratch.png");*/
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /*background-color: #839ec3;
    border-bottom-color: #E3E2DE;*/
}
/*
152,145,129, 0.35
255, 255, 255
229, 225, 217
114, 129, 152
217, 222, 229
*/
.well, .container{
    background-color: rgba(155, 147, 127, 0.30);
}

html {
    height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 8%;
    position: relative;
    margin: 0;
    min-height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #EEEBE1;
    background-color: #363A3D;
    font-size: 85%;
}

.anchor-block {
    display: block;
    font-size: small;
}

.f-error.help-block,
.f-error.control-label,
.f-error.radio,
.f-error.checkbox,
.f-error.radio-inline,
.f-error.checkbox-inline,
.f-error.radio label,
.f-error.checkbox label,
.f-error.radio-inline label,
.f-error.checkbox-inline label {
    color: #a94442;
}
.f-error.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.f-error.form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.f-error.input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.f-error.form-control-feedback {
    color: #a94442;
}