<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Agregar docente')}">
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="../../../../../../../../Desktop/f2toMe/jquery.js"></script>
</head>
<body>
    <div class="container" data-th-object="${docente}">
        <h3 class="page-header">Informacion de docente</h3>
        <p class="well well-lg">
            <strong data-th-text="*{nombres}">Juana</strong>
            <strong data-th-text="*{apellidos}">D'arc</strong>
        </p>
    </div>
</body>
</html>