<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Todos los docentes')}">
    <meta charset="UTF-8">
    <title>Nueva asignatura</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
    <body>
        <div class="container">
            <h3 class="page-header">Lista de docentes</h3>
            <p class="well well-sm" data-th-each="docente : ${docentes}">
                <strong data-th-text="${docente.nombres}"></strong>
                <strong data-th-text="${docente.apellidos}"></strong><br/>
                <a data-th-href="|/docente/${docente.id}|" href="#">Ver detalles</a>
            </p>
            
        </div>
    </body>
</html>
