<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Crear periodo')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h2 class="page-header">Crear nuevo periodo</h2>
        <form class="form-horizontal" method="post" data-th-object="${periodo}" data-th-action="@{/periodo/crear}">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label class="control-label" for="fecha-inicio">Fecha de inicio:</label>
                    <input class="form-control" type="date" id="fecha-inicio" name="fecha-inicio"
                           data-th-field="*{fechaInicio}" data-th-errorclass="f-error" required="required"/>
                    <strong data-th-if="${#fields.hasErrors('fechaInicio')}" data-th-errors="*{fechaInicio}"></strong>
                </div>

                <div class="form-group">
                    <label class="control-label" for="fecha-final">Fecha final:</label>
                    <input class="form-control" type="date" id="fecha-final" name="fecha-final"
                           data-th-field="*{fechaFinal}" data-th-errorclass="f-error" required="required"/>
                    <strong data-th-if="${#fields.hasErrors('fechaFinal')}" data-th-errors="*{fechaFinal}"></strong>
                </div>

                <div data-th-if="${#fields.hasGlobalErrors()}" class="has-error well well-sm">
                    <strong data-th-each="err : ${#fields.globalErrors()}"
                            data-th-text="${err}" class="help-block">Error XYZ</strong>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Crear"/>
                </div>
            </div>

        </form>
    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>