<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Asignaciones')}">
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="../../../../../../../../Desktop/f2toMe/jquery.js"></script>
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h3 class="page-header">Calificar asignacion</h3>

        <div class="row">

            <form class="form-horizontal col-sm-10 col-sm-offset-1" data-th-object="${calificacion}" method="post" data-th-action="@{/asignacion/calificar}">
                <fieldset class="well">
                    <legend>Calificacion</legend>
                    <div class="form-group">
                        <label class="control-label" for="asignacion">Asignacion: </label>
                        <input class="form-control" type="text" id="asignacion"
                               data-th-value="${asignacionACalificar.nombre}" disabled="disabled"
                               value="Nombre asignacion"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="estudiante">Estudiante: </label>
                        <input class="form-control" type="text" id="estudiante"
                               data-th-value="${estudianteACalificar.getNombreCompleto()}"
                               disabled="disabled" value="Juan Perez"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="puntuacion">Puntuacion: </label>
                        <input class="form-control" type="number" id="puntuacion" data-th-field="*{puntuacion}"
                                 min="0" data-th-max="${asignacionACalificar.valor}"/>
                    </div>

                    <div data-th-if="${#fields.hasGlobalErrors()}" class="has-error well well-sm">
                        <strong data-th-each="err : ${#fields.globalErrors()}"
                                data-th-text="${err}" class="help-block">Error XYZ</strong>
                    </div>

                    <div data-th-unless="${calificacion.id} == null">
                        <input type="hidden" data-th-field="*{id}"/>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Calificar"/>
                    </div>

                </fieldset>

            </form>

        </div>

    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>

</body>
</html>