<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu administrador</title>
    <script id="jquery" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div id="estudiante-menu" class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Monografico 32</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#" data-th-href="@{/home}"> Inicio</a></li>
                <li><a href="#" data-th-href="@{/estudiante/{id}/cursos (id=${#authentication.principal.id})}">Cursos</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li> <a href="#" data-th-text="${#authentication.principal.getNombreCompleto()}">Juan Perez</a></li>
                <li>
                    <form class="navbar-form" method="post" data-th-action="@{/logout}">
                        <button type="submit" class="btn btn-default btn-sm">Desconectar <span class="glyphicon glyphicon-log-out"></span></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>