<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Menu administrador</title>
    <script id="jquery" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top">
        <div sec:authorize="hasAuthority('ADMINISTRADOR') OR ( hasAuthority('ADMINISTRADOR') AND hasAuthority('DOCENTE') )" data-th-replace="~{/menu/admin-menu::#admin-menu}">

        </div>

        <div sec:authorize="hasAuthority('DOCENTE') AND !hasAuthority('ADMINISTRADOR')" data-th-replace="~{/menu/docente-menu::#docente-menu}">

        </div>

        <div sec:authorize="hasAuthority('ESTUDIANTE')" data-th-replace="~{/menu/estudiante-menu::#estudiante-menu}">

        </div>

    </nav>

</body>
</html>