<!DOCTYPE html>
<html>
    <head data-th-replace="~{/agregar-persona::header('Enrolar estudiante')}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="../../../../../../../../Desktop/f2toMe/jquery.js"></script>
    </head>
    <body>
        <div class="container">
            <h2 class="h2">Enrolar estudiante</h2>
            
            <form class="form-horizontal" method="post" data-th-object="${estudiante}" enctype="multipart/form-data" data-th-action="${flowExecutionUrl}">
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3" 
                         data-th-insert="~{/agregar-persona::#persona}"></div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="form-group">
                            <label class="control-label" for="estudiante-foto">Foto:</label>
                            <input class="" type="file" name="estudiante-foto" id="estudiante-foto" required="required"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="certificado-Medico">Certificado Medico:</label>
                            <input class="" type="file" name="certificado-Medico" id="certificado-Medico" required="required"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="acta-Nacimiento">Acta de nacimiento:</label>
                            <input class="" type="file" name="acta-Nacimiento" id="acta-Nacimiento" required="required"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label checkbox-inline" for="transferido" >
                                <input class="" type="checkbox" data-th-field="*{transferido}" id="transferido" name="transferido"/>
                                Es transferido?
                            </label>
                            <p class="help-block">Marque si el estudiante es procedente de otro centro educativo</p>
                        </div>

                        <div id="camposTransferidos" hidden="hidden">
                            <div class="form-group">
                                <label class="control-label" for="record-NotaTransferido">Record de notas:</label>
                                <input class="" type="file" name="record-NotaTransferido" id="record-NotaTransferido"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="certificadoBuenaConducta">Certificado de buena conducta:</label>
                                <input class="" type="file" name="certificadoBuenaConducta" id="certificadoBuenaConducta"/>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="form-group">
                    <input class="col-md-1 col-md-offset-3 btn btn-info" type="submit" name="_eventId_crear" value="Crear >>"/>
                </div>
            </form>
        </div>
        
        
        <script data-th-replace="~{/agregar-persona::#jquery}"></script>
        <script data-th-replace="~{/agregar-persona::#bootstrap}"></script>
        <script data-th-src="@{/resources/js/agregar-estudiante.js}"
                src="../../../resources/js/agregar-estudiante.js"></script>

    </body>
</html>