<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{/agregar-persona::header('Cursos del estudiante')}">
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <div class="container">
        <div class="well well-lg">
            <h2 class="page-header">Cursos del estudiante</h2>
            <strong data-th-text="|${estudiante.getNombreCompleto()}|">Juan Perez</strong>

            <table class="table table-striped table-condensed">
                <caption class="text-center">Cursos inscritos</caption>
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <th>Curso</th>
                        <th> - </th>
                    </tr>

                </thead>
                <tbody>
                    <tr data-th-each="curso : ${cursos}">
                        <td data-th-text="|Desde ${curso.periodo.fechaInicio} hasta ${curso.periodo.fechaFinal}|">10/10/10 12/12/12</td>
                        <td data-th-text="${curso.getGradoSeccion()}">4to</td>
                        <td> <a data-th-href="@{/curso/{id} (id=${curso.id}) }">Ver curso</a> </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</body>
</html>