<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <script id="jquery" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
    <div class="container">
        <p>
            Prueba
        </p>
    </div>

    <div id="footer">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>

        <script data-th-src="@{/resources/node_modules/bootstrap/dist/js/bootstrap.min.js}">
        </script>

        <footer class="container-fluid">
            <div class="pull-left">
                <h6>Monografico 32</h6>
                <h6>--Nombre del proyecto</h6>
            </div>

            <ul class="list-unstyled pull-right">
                <strong >Sustentantes:</strong>
                <li>Juan Perez - 1234</li>
                <li>Julio Hazim - 4321</li>
                <li>Jacinto De la Concha - 9876</li>
            </ul>
        </footer>
    </div>
</body>
</html>