<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Detalles de asignatura')}">
    <meta charset="UTF-8">
    <title>Nueva asignatura</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h3 class="page-header">Detalle de la asignatura</h3>
        <div class="well well-sm">
            <strong data-th-text="${asignatura.clave}">Clave</strong><br/>
            <span data-th-text="${asignatura.nombre}">Nombre</span>
        </div>
    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>