<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Todas las asignaturas')}">
    <meta charset="UTF-8">
    <title>Nueva asignatura</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h3 class="page-header">Todas las asignaturas</h3>
        <strong data-th-if="${#lists.isEmpty(asignaturaList)}">No existen asignaturas</strong>
        <div class="well well-sm" data-th-each="asignatura : ${asignaturaList}">
            <strong data-th-text="${asignatura.clave}">Clave</strong><br/>
            <span data-th-text="${asignatura.nombre}">Nombre</span><br/>
            <a data-th-href="@{/asignatura/${asignatura.id}}" href="#">Ver detalles</a>
        </div>
    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>