<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Detalle de clase')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h3 class="page-header">Asignatura: <small data-th-text="|${clase.asignatura.nombre} - ${clase.asignatura.clave}|">Educacion fisica - EDU101</small></h3>
        <h4>Instructor: <small data-th-text="${clase.instructor.getNombreCompleto()}">Juan Perez</small></h4>
        <div data-th-object="${clase.horario.curso}">
            <a href="#" data-th-href="@{/curso/{id} (id=*{id})}">
                <span data-th-text="*{getGradoSeccion()}"></span>
            </a>
        </div>
        <br/>
        <h4>Sesiones</h4>
        <div class="row">
            <div class="col-sm-3" style="border-left-style: solid; border-left-width: 1px;" data-th-each="sesion : ${clase.sesiones}">
                <h5 data-th-text="${sesion.dia}">Lunes</h5>
                <span data-th-text="${#dates.format(sesion.horaInicio,'hh:mm a')}">10:30 AM</span> -
                <span data-th-text="${#dates.format(sesion.horaFinal,'hh:mm a')}">12:30 PM</span><br/>
            </div>
            <div class="col-sm-3" style="border-left-style: solid; border-left-width: 1px;" data-th-remove="all">
                <h5 data-th-text="${sesion.dia}">Miercoles</h5>
                <span data-th-text="${#dates.format(sesion.horaInicio,'hh:mm a')}">10:30 AM</span> -
                <span data-th-text="${#dates.format(sesion.horaFinal,'hh:mm a')}">12:30 PM</span><br/>
            </div>
        </div>
        <br/>

        <a class="" href="#" data-th-href="@{/clase/{clase}/asignacion/all(clase=${clase.id})}">Ver asignaciones</a><br/>

        <div sec:authorize="hasAuthority('ESTUDIANTE')">
                <a href="#" data-th-href="@{/asignacion/{claseId}/calificaciones (claseId=${clase.id})}">Ver reporte de Asignaciones</a>
        </div>

        <div sec:authorize="hasAuthority('ADMINISTRADOR')">
            <a href="#" target="_blank" data-th-href="@{/horario/agregar(clase=${clase.id})}">Agregar clases</a>
        </div>

    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>