<!DOCTYPE html>
<html lang="es">
<head data-th-replace="~{/agregar-persona::header('Clases del docente')}">
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="../../../../../../../../Desktop/f2toMe/jquery.js"></script>
</head>
<body>

    <nav data-th-replace="~{/menu/menu::#main-menu}">

    </nav>

    <div class="container">
        <h2 class="page-header">Clases del docente</h2>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <strong class="pull-left" data-th-text="|Instructor: ${instructor.getNombreCompleto()}|">Docente: Juan Perez</strong>
                <h5 class="pull-right" data-th-text="|Periodo: ${periodo.fechaInicio} hasta ${periodo.fechaFinal}|">Periodo: 10/10/10 - 10/10/10</h5>
            </div>
        </div>
        <div class="row col-md-10 col-md-offset-1">
            <div class="pull-left" data-th-replace="~{/curso/curso-detalle::#horario}">
            </div>
        </div>
    </div>

    <footer data-th-replace="~{/footer-monografico::#footer}">

    </footer>
</body>
</html>