<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es">
    <head data-th-replace="~{/agregar-persona::header('Crear nueva clase ')}">
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h3 class="page-header" data-th-text="#{clase.agregar(${curso.getGradoSeccion()})}"></h3>
            <form class="form-horizontal" method="post" data-th-object="${clase}">

            </form>
        </div>
    </body>
</html>
