<!DOCTYPE html>
<html lang="es">
    <head data-th-replace="~{/agregar-persona::header('Agregar tutor')}">
        <meta charset="UTF-8">
        <title>Agregar tutor</title>
        <link rel="stylesheet" href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>

    <body>

        <nav data-th-replace="~{/menu/menu::#main-menu}">

        </nav>

        <div class="container">
            <h3 class="page-header">Agregar tutor</h3>
            <p> <strong>Estudiante:</strong><br/>
                <span data-th-text="${estudiante.nombres}">Juan</span>
                <span data-th-text="${estudiante.apellidos}">Perez</span>
            </p>

            <div id="tutores" data-th-fragment="tutores">
                <strong data-th-if="${#maps.isEmpty(tutorFileMap)}">Debe de proveer por lo menos 1 tutor</strong>
                <strong data-th-unless="${#maps.isEmpty(tutorFileMap)}">Tutor(es):</strong>
                <p data-th-each="entry : ${tutorFileMap}">
                    <span data-th-text="${entry.key.nombres}">Padre</span>
                    <span data-th-text="${entry.key.apellidos}">Perez</span>
                </p>
            </div>
        </div>

        <form id="tutorForm" class="form-horizontal" method="post" data-th-object="${tutor}" enctype="multipart/form-data" data-th-action="${flowExecutionUrl}">

            <div class="col-md-6 col-md-offset-3 ">
                <fieldset class="well">
                    <legend>Informacion del tutor</legend>

                    <div class="" data-th-insert="~{/agregar-persona::#persona}">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="cedula">Cedula:</label>
                        <input class="form-control" type="text" id="cedula"
                               minlength="11" maxlength="13" name="numeroCedula"
                               data-th-field="*{numeroCedula}" data-th-errorclass="f-error"/>
                        <strong data-th-if="${#fields.hasErrors('numeroCedula')}" data-th-errors="*{numeroCedula}"></strong>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="tutor-cedula">Cedula:</label>
                        <input class="" type="file" name="tutor-cedula" id="tutor-cedula" required="required"/>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input id="mas-tutores" class="pull-left btn btn-info" type="submit"
                           name="_eventId_agregarTutor" value="Guardar y agregar otro tutor" />
                    <!--<input class="col-md-1 col-md-offset-3 btn btn-info" type="submit" name="_eventId_siguiente" value="Siguiente >>" />-->
                    <a class="pull-right btn btn-info" role="button" data-th-href="@{'~'+${flowExecutionUrl}+'&_eventId=siguiente'}">Siguiente >></a>
                </div>
            </div>


            <div class="form-group">

            </div>


        </form>


        <footer data-th-replace="~{/footer-monografico::#footer}">

        </footer>

    </body>
</html>