<!DOCTYPE html>
<html>
    <head data-th-replace="~{/agregar-persona::header('Enrolar estudiante')}">
        <meta charset="UTF-8">
        <title>Agregar tutor</title>
    </head>

    <body>
        <h3>Agregar tutor</h3>
        <script data-th-replace="~{/agregar-persona::#jquery}"></script>
        <script data-th-replace="~{/agregar-persona::#bootstrap}"></script>
        <script data-th-src="@{/resources/js/agregar-estudiante.js}"
                src="../../../resources/js/agregar-estudiante.js"></script>
    </body>
</html>